.swiper-btn{
    display: flex;
}
.swiper-button-next,
.swiper-button-prev{
    color: white !important;
    position: static !important;
    margin:  0 0 0 10px !important;
    font-size: 18px !important;
    font-weight: 700 !important;
}
